
main{
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.linkNav{
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9rem;
  color: rgb(136, 136, 136);
  text-decoration: none;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}
.linkNav:hover{
  color: rgb(5, 4, 4);
} 

.darkmode{
  border-radius: 0.5rem;
  background-color: rgb(54, 52, 52);
  cursor: pointer;
  text-decoration: none;
}

.darkmode:hover{
  border-color: rgb(107, 102, 102);
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  width: 60vw;
  height: auto;
  flex-wrap:wrap;
  margin: 0 auto;
}
footer{
  margin-top: 1rem;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.p_nav{
  font-family:  Tahoma, sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

.noche{
  color: rgb(245, 239, 239);
  background-color: #000;
  border-radius: 1rem;
  
}
.noche:hover{
  cursor: pointer;
  background-color: rgb(64, 62, 62);
}

.logos{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.logo_dh{
  width: 22rem;
}
.logo_dh:hover{
  cursor: pointer;
}
.logo_dh:active{
  cursor: wait;
}
.logos-apps{
  width: 3rem;
  background-color: #000;
  border-radius: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.logos-apps:hover{
  cursor: pointer;
  background-color: rgb(78, 79, 81);
}

.logos-apps:active{
  cursor: wait;

}
.links-app{
  margin: 0;
}
.p-footer{
  display:flex ;
  font-family:  Tahoma, sans-serif;
  font-size: 1.2rem;
  margin: 0 0 0 0;
  
  justify-content: center;
  background-color: crimson;
  color: aliceblue;

}
.nombre-odonto{
  color: rgb(72, 69, 69);
  text-decoration: none ;
  font-family: sans-serif;
  font-weight: bold;
  
}
.nombre-odonto:hover{
  cursor: pointer;
  color: rgb(181, 169, 169);
}

.user-odonto{
  font-family: Arial, Helvetica, sans-serif;
  color: #6a6464;
}

.favButton{
  padding: 6px 0;
  border-color: #ffffff;
  cursor: pointer;
  width: 214px;
  border: none;
}
.favButton:hover{
  background-color: rgb(32, 32, 196);
  border-radius: 0.3rem;
  
}
.favButton:active{
  cursor: wait;
}

#dark{
  background-color: #616161;
  color: rgb(252, 247, 247);
}

.nav-dark{
  background-color: rgb(30, 29, 29);
}

#texto-dark{
  color: rgb(252, 247, 247);
}

#texto-blanco{
  color: rgb(252, 247, 247);
  font-family: Arial, Helvetica, sans-serif;
}

#texto-dark:hover{
  color: rgb(58, 53, 53);
}

#boton-dark{
  background-color: #616161;
}
#boton-dark:hover{
    background-color: rgb(82, 82, 86);
    border-radius: 0.3rem;   
  
}

#boton-mode{
  text-decoration: none;
  background-color: aliceblue;
}

#hover-nav:hover{
  color: #616161;


}
.flex-dh{
  display: flex;
}
.rojo{
  font-family:  Tahoma, sans-serif;
  font-size: 1.2rem;
  color: red;
}

#linea-roja{
  background-color: #5a5757;
}





